
header {
  background: #6e6c6c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-bottom: 5px double #c2bfbf;
}


.container {
  display: flex;
  flex-direction: row;
}


.sidebar {
  width: 280px;
  background: #d7d5d5;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}


.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.nav-links ul {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin: 1.2rem 20px;
  background-color: #828285;
  border:3px double #282121;
  border-radius:8px;
  cursor: pointer;
  font-size: 16px;
  color:white;
  padding:7px;
}
.nav-links li:hover {
  background-color: #303036;
}
.nav-links a {
  text-decoration: none;
  color: #f3eded;
  font-weight: bold;
}




.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 80px;
}


.section {
  display: none;
}

.section.active {
  display: block;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
