<body>
<header>
    <h1>APP Triagem</h1>
    <nav>
        <a href="#">Usuario</a>
    </nav>
</header>
<section class="section">
    <div class="perfil">
        <img src="https://th.bing.com/th/id/OIP.7O4_GREtLbxqPdJCTmfatQHaHa?rs=1&pid=ImgDetMain">
        <h6>seja bem vindo</h6>
        <a>Usuario</a>
        <p>idade</p>
        <p>prioridade</p>
    </div>
    <div class="infor">
        <h4>informações</h4>
        <p>cupiditate adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>
        <hr>
        <p> adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>
        <hr>
        <p>cupiditate adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>





    </div>
    <div class="triagem">
        <h3> fazer triagem </h3>
        <a href="/pagina/Triagem">clique aqui</a>
        <h3>Acompanhar Triagem</h3>
        <a href="#">Acompanhar</a>

    </div>

</section>

</body>
