<!DOCTYPE html>
<html lang="pt br">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Pagina Inicial</title>
</head>
<body>
<header>
    <h1>Saude</h1>
    <nav>
        <a href="PaginaInicial.html">Pagina inicial</a>
        <a href="Login.html">login</a>
    </nav>
</header>
<div class="topo">
    <div class="info">
        <h3>veja nossos atendimentos</h3>
        <p> aqui voce pode acompanhar nosso atendimentos em tempo real</p>
        <p class="tempo">Tempo</p>
        <p class="real">Real</p>

    </div>
    <div class="info">
        <h3>veja nossas especialidades</h3>
        <p> aqui voce pode ver todas nossas especilidades</p>
        <a href="">Especialidades</a>


    </div>
    <div class="info">
        <h3>Faca seu Cadastro aqui</h3>
        <p> Faca seu Cadastro para melhor ser atendido e voce poder acompanhar todos os seus beneficios</p>
        <a href="Cadastrar.html">cadastrar</a>

    </div>
    <div class="info">
        <h3>Acompanhe nos nas redes sociais</h3>
        <a href="">Instagran</a>
        <a href="">Facebook</a>
        <a href="">Whatssap</a>
        <a href="">TickTock</a>
    </div>
    <div></div>
</div>

</body>
</html>