<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Usuario</title>
</head>
<body>
<header>
    <h1>Saude</h1>
    <nav>
        <a href="PaginaInicial.html">Pagina Inicial</a>
        <a href="#">Usuario</a>
    </nav>
</header>
<section class="section">
    <div class="perfil">
        <img src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-
        vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg?w=740">
        <h6>seja bem vindo</h6>
        <a>Usuario</a>
        <p>idade</p>
        <p>prioridade</p>
    </div>
    <div class="infor">
        <h4>informacoes</h4>
        <p>cupiditate adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>
        <hr>
        <p> adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>
        <hr>
        <p>cupiditate adipisci. Fuga odit architecto ut officia tenetur unde ullam, nam
            deleniti nihil sed?<a>saiba mais</a></p>





    </div>
    <div class="triagem">
        <h3> fazer triagem </h3>
        <a href="Triagem.html">clique aqui</a>
        <h3>Acompanhar Triagem</h3>
        <a href="#">Acompanhar</a>

    </div>

</section>

</body>
</html>