
<!--<header class="heder">-->
<!--  <h1>Bem-vindo ao Sistema de Triagem</h1>-->
<!--</header>-->
<!--<div class="container">-->
<!--  <aside class="sidebar">-->
<!--    <div class="user-info">-->
<!--      <h2>Bem-vindo</h2>-->


<!--      <nav class="nav-links">-->
<!--        <ul>-->
<!--          <button (click)="navigateTo('admin/usuario')">Usuário</button>-->
<!--&lt;!&ndash;          <p-button(click)="sidebar()">Alterar Senha</p-button>&ndash;&gt;-->
<!--          <button (click)="navigateTo('admin/agenda_consulta')">Consultas</button>-->
<!--&lt;!&ndash;          <li><a [routerLink]="['/admin/usuario']" >Agendar Consultas</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li><a [routerLink]="['/admin/usuario']">Verificar Agenda</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          <p-button(click)="logout()">Sair</p-button>&ndash;&gt;-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </aside>-->
<!--  <main class="content">-->

<!--    <router-outlet></router-outlet>-->

<!--  </main>-->
<!--</div>-->
<!--<footer>-->
<!--  <p>APP Triagem</p>-->
<!--</footer>-->

<!--<p-dialog [(visible)]="dialog" [style]="{ width: '450px' }" header="Trocar Senha" [modal]="true" styleClass="p-fluid">-->

<!--<h1>ALTERAR SENHA AQUI </h1>-->
<!--</p-dialog>-->



<header>
  <h1>Bem-vindo ao Sistema de Triagem</h1>
</header>
<div class="container">
  <aside class="sidebar">
    <div class="user-info">
      <h2>Bem-vindo</h2>
      <h5>Voce e um Administrador</h5>
      <nav class="nav-links">
        <div class="control">

          <button (click)="navigateTo('admin/usuario')">Usuário</button>
          <button (click)="navigateTo('admin/agenda')">Agenda Consultas</button>
          <button (click)="navigateTo('admin/listar_triagem')">Consultar Triagem</button>
          <button (click)="navigateTo('admin/listar_consultas')">Agendamentos</button>
          <button (click)="logout()">Sair</button>
        </div>
      </nav>
    </div>
  </aside>

  <main class="content">
    <div class="system-info" *ngIf="systemInfoVisible">
      <h3>Informações do Sistema</h3>
      <p>Este é um sistema de triagem que ajuda na organização de consultas e informações dos usuários.</p>
      <p>Última atualização: {{ lastUpdated | date:'short' }}</p>
    </div>

      <router-outlet></router-outlet>




  </main>

</div>
<footer>
  <p>APP Triagem</p>
</footer>

<p-dialog [(visible)]="dialog" [style]="{ width: '450px' }" header="Trocar Senha" [modal]="true" styleClass="p-fluid">

  <h1>ALTERAR SENHA AQUI </h1>
</p-dialog>

