<body>
<header>
    <h1>APP Triagem</h1>

</header>

<div class="esqueceu-senha">
    <form  class="esqueceu-form" id="formulario">

        <h2>Esqueceu Senha</h2>
        <P>Insira seu email  para procurar sua conta.</P>

        <div class="esqueceu-group">
            <label for="email">E-mail:</label>
            <input formControlName="email" type="email" id="email" name="email" required placeholder="Digite aqui seu email">
        </div>

        <div class="esqueceu-group">
            <button [routerLink]="['/pages/app-login']" type="submit">Cancelar</button>
            <button type="submit">Enviar</button>
        </div>

    </form>
</div>

</body>
