<body>
<header>
    <h1>APP Triagem</h1>
    <nav>
        <a href="#">Administrador</a>
    </nav>
</header>
<section class="section">
    <div class="perfil">
        <img src="https://th.bing.com/th/id/OIP.7O4_GREtLbxqPdJCTmfatQHaHa?rs=1&pid=ImgDetMain">
        <h6>seja bem vindo</h6>
        <a>Administrador</a>
        <p>local</p>

    </div>

    <div class="triagem">
        <h3> Consultar Triagem </h3>
        <a [routerLink]="['/pages/app-triagem']">Clique Aqui</a>
        <h3>Marcar Consultas</h3>
        <a href="#">Agenda</a>

    </div>

</section>

</body>

