/// triagem//

.info {
  border: 2px double #ada8a8;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
  border-radius: 10px;
}

.icone img {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  margin-bottom: 10px;
}

.text {
  flex-grow: 1;
}

.clik a {
  margin: 0;
  background-color: #828285;
  border: 3px double #282121;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.clik a:hover{
  background-color: #303036;
}
/* Estilo da Modal */
.modal {
  display: none; /* Ocultar por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Centragem vertical e horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Aumenta a largura do modal */
  max-width: 1200px; /* Define uma largura máxima para o modal */
  height: auto; /* Deixe a altura automática, mas pode definir um valor fixo se desejar */
  max-height: 90%; /* Define a altura máxima para o modal */
  overflow-y: auto; /* Adiciona uma barra de rolagem se o conteúdo for maior que a altura máxima */
}


.modal-content h2 {
  margin-top: 0;
  font-size:1.1rem;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
}

.modal-content table, th, td {
  border: 1px solid #918e8e;
}

.modal-content th, td {
  padding: 8px;
  text-align: left;
}

.close-btn {
  background-color: #504444;
  color: white;
  padding: 10px 15px;
  border:3px double #f3f0f0;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  font-size: 14px;
}

.close-btn:hover {
  background-color: #8aadf3;
}
