<!--<body>-->
<!--<header>-->
<!--    <h1>APP Triagem</h1>-->
<!--    <nav>-->

<!--    </nav>-->
<!--</header>-->

<!--<div class="login-container">-->
<!--    <form class="login-form" id="formulario">-->

<!--        <h2>Esqueceu a Senha?</h2>-->
<!--        <P>Confirme seu E-mail, que Vamos localizar!</P>-->

<!--        <div class="form-group">-->
<!--            <label for="email">E-mail:</label>-->
<!--            <input formControlName="email" type="email" id="email" name="email" required placeholder="Digite aqui seu email">-->
<!--        </div>-->


<!--        <div class="form-group">-->
<!--            <button  type="submit">Entrar</button>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <a [routerLink]="['/pages/login']">Voltar ao Inicio</a>-->


<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--<footer>-->
<!--    <p>APP Triagem</p>-->
<!--</footer>-->

<!--</body>-->


<p-toast></p-toast>
