

.campo {
  align-items: center;
  justify-content: center;
}

#titulo {
  text-align: center;
  margin-bottom: 20px;
}

.campo p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#intensidade-field {
  display: none;
}

/* Estilos do formulário */
.formu {
  background: #cde6ea;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(23, 18, 18, 0.2);
  width: 40%;
  margin: auto;
  border: 5px double white;
}

/* Estilos dos campos do formulário */
.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #333;
}

input[type="text"],
input[type="date"],
select {
  background-color: #fff;
  width: 50%; /* Aumenta a largura em telas menores */
  padding: 10px;
  margin-top: 10px;
  border: 2px solid rgb(114, 106, 106);
  border-radius: 5px;
  font-size: 1.1rem;
}

input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}

.botao {
  width: 20%; /* Altera largura para 100% */
  padding: 10px;
  background-color: #0097A7;
  border: 3px double white;
  color: #f5f2f2;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px; /* Ajusta margem superior */
}

.botao:hover {
  border: 3px double white;
  background-color: #034d39;
  color: white;
}

footer {
  margin-top: 40px;
  background: #6e6c6c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-top: 5px double #eccbcb;
  width: 100%;
  margin-bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .formu {
    width: 80%; /* Aumenta largura do formulário */
  }

  input[type="text"],
  input[type="date"],
  select {
    width: 50%; /* Garante que os campos ocupem toda a largura */
  }

  .botao {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .formu {
    padding: 10px;
  }

  .botao {
    font-size: 0.8rem;
  }

  .campo p {
    font-size: 1.2rem; /* Ajusta o tamanho da fonte */
  }
}
