/*Pagina inicial*/

/*style body*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #566e88, #69efc7, #2c2929);
  background-size: cover; /* Cobrir toda a página */
  background-repeat: no-repeat;
  height: 1320px;

}


header {
  background: #6e6c6c;
  color: #fff;
  border-bottom: 5px double #eccbcb;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 0;
  width: 100%;

}

header h1 {
  margin: 0;
}
nav a{
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
}
nav a:hover{
  text-decoration: none;
  color: #69efc7;
}

.component{
  margin-top:20px
}




footer{
  margin-top:50px;
  background: #6e6c6c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-top: 5px double #eccbcb;
  width: 100%;
  margin-bottom: 0;
}

